<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Ejemplo de consumo de API</h1>

  <label for="idRst">Id Restaurante</label>
  <input type="text" id="idRst"><br>

  <label for="nameRst">Nombre Restaurante</label>
  <input type="text" id="nameRst"><br>
  
  <label for="city">Ciudad Restaurante</label>
  <input type="text" id="city">

  <button id="btnSend">Enviar</button>

  <script src="scripts.js"></script>
</body>
</html>